@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Welcome to Board Games App</h1>
    <p>
        <a class="btn btn-primary" asp-controller="Games" asp-action="List">View Games List</a>
        <a class="btn btn-primary" asp-controller="Players" asp-action="Index">View Players List</a>
    </p>
</div>
